html, body {
    height: 100%;
    background-color: gray !important;
}
.row-produk {
    background-color: white;
    padding: 5px;
    padding-top: 16px;
    border: 1px solid black;
    border-radius: 10px;
}

.garis-nama {
    border-bottom: 1px solid black;
    margin-top: 10px;
    margin-bottom: 25px;
}

.tab-content {
    border: 1px solid; 
    border-radius: 10px;
    padding: 15px;
}

.container-fluid {
    margin: 10px;
}
.btn {
    background: grey !important; 
    transform: translateY(10px);
    border-radius: 10px;
    border-color: black;
    color: #222d32 !important;
    position: relative;
    bottom: 10px;
}
.gambar-mini {
    border-radius: 5px;
    width: 70px;
    position: relative;
    bottom: 5px;
    align-content: flex-start;
}
